ul {
  list-style-type: none;
  padding: 0;
}

li {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  display: flex;
  align-items: center;
}

img {
  border-radius: 50%;
  margin-right: 10px;
}

strong {
  margin-right: 5px;
}

p {
  margin: 5px 0;
}
